*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header-container{
    background-image: url(/esercizi/html-css-booleaner/img/pattern.png);
    background-size: auto 200px;
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-position: center;
    background-position: 0px -60px;  /* Sfondo spostato per leggibilità logo */
    height: 100px;
    width: 100%;
}

.logo-img{
    height: 40px;
    margin-top: 50px;
    margin-left: 55px;
}

.margin-div{
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author-div{
    display: flex;
    margin-top: 10px;
}

.author-link{
    margin-left: 4.5px;
    cursor: pointer;
    font-size: 14px;
    color: #4EA0FF;
}

.little-gray-p {
    font-size: 14px;
    color: gray;
}

.container-img {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.tim-img{
    height: 220px;
    width: 49.5%;
    object-fit: cover;
}

.photographers-p{
    margin-top: 4px;
    font-size: 8px;
}

.lorem-p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

span{
    background-color: yellow;
}

.black-p{
    font-size: 14px;
}

.container-table{
    margin-top: 20px;
    margin-bottom: 20px;
}

.editor-table{
    height: 150px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.head-table{
    background-color: #4EA0FF;
    color: white;
    font-size: 10px;
    height: 20px;
}

.rowa-tab{
    background-color: rgb(173, 255, 255);
}

.rowb-tab{
    background-color: white;
}

.rowa-tab,
.rowb-tab{
    font-size: 10px;
}

.th-a{
    width: 100px;
}

.lorem-p-a{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
}

.footer-ada{
    background-image: url(/esercizi/html-css-booleaner/img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    width: 100%px;
    margin-top: 10px;
}

.footer-adb{
    background-image: url(/esercizi/html-css-booleaner/img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    width: 100%px;
    margin-top: 10px;
}

.h5-ad{
    color: white;
    cursor: pointer;
    padding-left: 45px;
    padding-top: 60px;
}