*{
    margin: 0;
}

.header-container{
    background-image: url(/Boolean/esercizi/html-css-booleaner/img/pattern.png);
    background-size: cover;
    background-color: aqua;
    height: 100px;
    width: 100%
}