*{
    margin: 0;
}

.header-container{
    background-image: url(/img/pattern.png);
    background-size: auto 200px;
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-position: center;
    background-position: 0px -60px;  /* Sfondo spostato per leggibilità logo */
    height: 100px;
    width: 100%;
}

.logo-img{
    height: 40px;
    margin-top: 50px;
    margin-left: 55px;
}

.margin-div{
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author-div{
    display: flex;
    margin-top: 10px;
}

.author-link{
    margin-left: 4.5px;
    cursor: pointer;
    font-size: 14px;
    color: #4EA0FF;
}

.little-gray-p {
    font-size: 14px;
    color: gray;
}

.container-img {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.tim-img{
    height: 220px;
    width: 49.5%;
    object-fit: cover;
}

.photographers-p{
    margin-top: 4px;
    font-size: 8px;
}

.lorem-p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

span{
    background-color: yellow;
}

.black-p{
    font-size: 15px;
}

.container-table{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #4EA0FF;
}

.head-table{
    background-color: #4EA0FF;
    color: white;
    font-size: 10px;

}

.main-table-a{
    background-color: aqua;
}

.lorem-p-a{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
}

.footer-ada{
    background-image: url(/img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    width: 100%px;
    margin-top: 10px;
    cursor: pointer;
}

.footer-adb{
    background-image: url(/img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    width: 100%px;
    margin-top: 10px;
    cursor: pointer;
}